<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Samplitek</title>
    <link rel="icon" type="image/x-icon" href="Custom/Images/favicon.png">
    <link rel="stylesheet" href="Custom/css/styles.css">
  </head>
  <body>
  <header th:insert="snippets/header.html">
  </header>
    <div class="container">
        <h1>Mon compte</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img th:src="${profile.get('picture')}" class="card-img-top" th:attr="alt=${profile.get('name')}">
              <div class="card-body">
                <h5 class="card-title" th:text="${profile.get('name')}"></h5>
                <p class="card-text" th:text="${profile.get('email')}"></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
