<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Samplitek</title>
    <link rel="icon" type="image/x-icon" href="Custom/Images/favicon.png">
    <link rel="stylesheet" href="Custom/css/styles.css">
  </head>
  <body>
  <header th:insert="snippets/header.html">
  </header>
    <h1>SAMPLES</h1>
    <a th:href="@{/createSample}">Create sample</a>
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Genre</th>
            <th>Instrument</th>
            <th>Createur</th>
            <th>BPM</th>
          </tr>
        </thead>
        <tbody>
          <tr  th:each="sample : ${samplelist}" th:if="${sample.hidden==false}">
            <td th:text="${sample.id}"></td>
            <td th:text="${#strings.abbreviate(sample.name,25)}"></td>
            <td th:text="${#strings.abbreviate(sample.genre,25)}"></td>
            <td th:text="${#strings.abbreviate(sample.instrument,25)}"></td>
            <td th:text="${#strings.abbreviate(sample.creator,25)}"></td>
            <td th:text="${#strings.abbreviate(sample.bpm,25)}"></td>
            <td th:if="${allowed}"><a onClick="onModifyClick(event)">Modify </a></td>
          </tr>
        </tbody>
    </table>

  <h1 th:if="${allowed}">DELETED SAMPLES</h1>
  <table class="adminTable" th:if="${allowed}">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Genre</th>
      <th>Instrument</th>
      <th>Createur</th>
      <th>BPM</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="sample : ${samplelist}" th:if="${sample.hidden==true}">
      <td th:text="${sample.id}"></td>
      <td th:text="${#strings.abbreviate(sample.name,25)}"></td>
      <td th:text="${#strings.abbreviate(sample.genre,25)}"></td>
      <td th:text="${#strings.abbreviate(sample.instrument,25)}"></td>
      <td th:text="${#strings.abbreviate(sample.creator,25)}"></td>
      <td th:text="${#strings.abbreviate(sample.bpm,25)}"></td>
      <td th:if="${allowed}"><a onClick="onModifyClick(event)">Modify </a></td>
    </tr>
    </tbody>
  </table>
  </body>
</html>

<script>

  function onModifyClick(event) {

    var row = event.target.parentNode.parentNode;
    var id = row.cells[0].textContent;
    window.location.href = 'http://localhost:9001/sample/'+id.toString();

  }

</script>